* {
  box-sizing: border-box;
}

body {
  font-size: 45px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url("../123123.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.btn {
  border-color: #b8b4b4;
  cursor: pointer;
}

input {
  border: 1px solid #b8b4b4;
  color: #000;
}

button,
input {
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 4px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main {
  width: 40%;
  background: #fff;
  border-radius: 16px;
  padding: 16px;
}

.label {
  text-align: center;
}

.add-task {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.add-task__input {
  padding: 10px;
  flex: 2;
}

.add-task__button {
  padding: 10px;
  flex: 1;
  margin-left: 10px;
}

.action {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #fa0a2e;
}

.action button {
  padding: 10px;
  margin: 5px;
  flex: 1;
}

.task-list__item {
  padding: 10px;
  border-bottom: 1px solid #fa0a2e;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.action__active {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.action__alltasks {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.action__completed {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.task-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fa {
  cursor: pointer;
}

li._completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.hide {
  /* visibility: hidden; */
  display: none;
}

.focusButton {
  border: 2px solid red;
}

#buttonnn {
  background-color: gray;
}

#inputtt {
  background-color: hotpink;
}
